@import 'vars';
@import 'mixins';

@include main;


section{
	width:100%;
	padding:2em 10em;
	h2{
		color:$main_text_color;
		text-align:center;
		text-transform: uppercase;
	}
}
.logo{

	font-size:2em;
	font-weight:bold;
	font-family:$logo_font;
	span{
		color:$main_red;
	}
}
.intro{
	width:100vw;
	height:100vh;
	background: url(../slike/background.jpg);
	backgorund-size:cover;
	header{
		padding:0.5em;
		background:#fff;
		@include clearfix;

		.logo{
			float:left;
		}
		nav{

			float:right;
			a{
				text-decoration:none;
				&:hover{color:#000;}
			}
			ul {list-style:none;
				li{
					display:inline-block;
					font-size:0.8em;
					margin-left:1em;
					line-height:3em;
				}
			}

		}
		
	}
	h1{
		width:60%;
		color:#fff;
		font-size:3em;
		font-weight:400;
		text-align:center;
		border-bottom:1px solid $main_red;
		margin:20% auto 0;
	}
	h3{
		color:#fff;
		text-align:center;
		font-weight:normal;
	}
}



.catalog{
	@include clearfix;
	background:$grey_background;
	.column{
		float:left;
		width:25%;
		padding:0.5em;
		text-align:center;

		img{width:100%}
		a{
			background:$main_red;
			color:#fff;
			padding:0.5em 1em;
			text-decoration:none;
			display:inline-block;
			margin-top:1em;
			&:hover{
				background:#000;
			}

		}
	}

}